<!-- Copyright © 2021 Rick Beerendonk -->

@using Lab_Components.Components

<header>
  <TitleComponent />
</header>

<main>
  <WordList />
  <ProgressComponent />
</main>

<footer>
  <Copyright />
</footer>

@code
{
}
